@font-face {
    font-family: 'iconfont';  /* project id 571296 */
    src: url('https://at.alicdn.com/t/font_571296_81vb3c7rx8ddkj4i.eot');
    src: url('https://at.alicdn.com/t/font_571296_81vb3c7rx8ddkj4i.eot?#iefix') format('embedded-opentype'),
    url('https://at.alicdn.com/t/font_571296_81vb3c7rx8ddkj4i.woff') format('woff'),
    url('https://at.alicdn.com/t/font_571296_81vb3c7rx8ddkj4i.ttf') format('truetype'),
    url('https://at.alicdn.com/t/font_571296_81vb3c7rx8ddkj4i.svg#iconfont') format('svg');
}
body{
    background-color: #eeeeee;
}
header{
    width: 100%;
    height: .94rem;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    line-height: 0.54rem;
    padding-left: 0.25rem;
    background-color: #eeeeee;
}
header span{
    font-family: 'iconfont';
    font-size: 0.32rem;
    color:#323232;
}
.login_content{
    width: 6rem;
    margin:0 auto;
    position: relative;
    padding-top: 0.64rem;
}
.content_left{
    font-size: .38rem;
    color:#000;
    margin-right: 1.1rem;
}
.content_right{
    font-size: .38rem;
    color:#c8c8c8;
}
.xuanzhong{
    position: absolute;
    left: 0;
    top:2.1rem;
    width: 2.4rem;
    height: 0.04rem;
    background-color: #000;
}

input{
    font-family: 'iconfont';
    margin-bottom: 0.3rem;
    width: 6rem;
    height: 1.2rem;
    border: none;
    background-color: #eeeeee;
    border-bottom: 1px solid #ccc;
}
#btn{
    width: 6rem;
    height:0.96rem;
    border: none;
    color:#fff;
    border-radius: 5px;
    background-color:#f0a2ab;
    margin-top: 0.2rem;
}
ul li{
    font-family: 'iconfont';
    font-size: 0.38rem;
    color:#3c3c3c;
    margin-right: 0.2rem;
}
li img{
    width: 2rem;
    height: 0.8rem;
    margin-left: 0.6rem;
    margin-bottom: 0.3rem;
}
input:focus{
    outline: none;
}
form{
    margin-top:0.3rem;
    margin-left: 0.15rem;
}
.zhuce{
    margin-left: 0.7rem;
}
.tip{
    font-size: 0.26rem;
    color:#f33c51;
    margin-top: 0.14rem;
    float: left;
}
.tip2{
    font-size: 0.26rem;
    color:#f33c51;
    margin-top: 0.14rem;
    float: left;
    margin-left: 3.4rem;
}
.denglu{
    width: 6rem;
    height: 1.28rem;
    margin:0 auto;
    margin-top: 4rem;
}
.denglu_item{
    width: 1.5rem;
    float: left;
    height: 100%;
}
.denglu_item span{
    font-family: 'iconfont';
    font-size: 0.78rem;
    color:#98d4f7;
}
.denglu p{
    font-size: 0.28rem;
    color:#999999;
}